@font-face {
    font-family: 'Carter One';
    src: url('fonts/Carter_One/CarterOne-Regular.ttf')  format('truetype');
}

@font-face {
    font-family: 'Alegreya';
    src: url('fonts/Alegreya_Sans_SC/AlegreyaSansSC-Bold.ttf')  format('truetype');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Alegreya';
}

html{
    background: rgb(33, 33, 33);
}

body{
    margin: 0;
}

#game {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: max-content;
    margin: 0 auto;
}

#back {
    position: relative;
    background: rgb(236, 236, 236);
    width: 82vmin;      /* Changing in js */
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.75) inset, 0 10px 15px #000;
}

#q, .q-tail {
    position: absolute;
    width: 5%;          /* Changing in js */
    height: 5%;         /* Changing in js */
    background: rgb(0, 0, 0);
    box-shadow: 0 0 5px -3px  rgb(7, 7, 7) ;
    /* transition: opacity 0.1s, top 50ms, left 50ms; */
    z-index: 5;
}

#food{
    position: absolute;
    width: 5%;          /* Changing in js */
    height: 5%;         /* Changing in js */
    background: rgb(77, 77, 77);
    box-shadow: 0 0 5px -3px  rgb(7, 7, 7);
}

.q-game_over{
    animation: q-go-animation 0.23s 5;
}




/*                   INTERFACE                    */


.top{
    width: 100%;
    padding-top: 1vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    margin: 0 0 0 1vmin;
    font-size: 5vmin;   
    color: rgb(255, 255, 255);
    text-shadow: 0 0 15px black;
}

.interface{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.scores{
    margin: 0 0 1vmin 0;
    text-align: center;
    font-size: 5vmin;
    color: rgb(255, 255, 255);
    z-index: 10;
    position: relative;
}



.game_over_block, .pause_block{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vmin;
    z-index: -3;
    background: rgba(0, 0, 0, 0);
    transition: 0.3s;
}



.game_over_text{
    padding: 0 5px;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.76);
    box-shadow: 0 -5px 17px -5px rgb(0, 0, 0);
    border-radius: 15px;
    font-size: 10vmin;
    text-align: center;
    text-transform: uppercase;
    transform: scale(0.3);
    margin: 0;
    transition: transform 0.5s;
}

.pause_block h1{
    padding: 0 5px;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.76);
    box-shadow: 0 -5px 17px -5px rgb(0, 0, 0);
    border-radius: 15px;
    font-size: 7vmin;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    transition: transform 0.5s;
}

.pause_block p, .game_over_block p{
    padding: 0 5px;
    color: rgb(224, 224, 224);
    border-radius: 15px;
    font-size: 4vmin;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    transition: transform 0.5s;
}

#rules-btn, #settings-btn{
    display: block;
    position: absolute;
    right: 0;
    color: rgb(223, 223, 223);
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    background: rgb(80, 80, 80);
    font-size: 2vmin;
    padding: 0.3vmin 1vmin;
    border-radius: 0.7vmin;
    transition: transform 0.1s;
}

#settings-btn{
    right: auto;
    left: 0;
    padding: 0.5vmin;
    display: flex;
    align-items: center;
}

#settings-btn img{
    width: 3vmin;
}

.records-btn{
    display: block;
    position: absolute;
    right: 0;
    justify-self: end;
    color: rgb(223, 223, 223);
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    background: rgb(80, 80, 80);
    font-size: 2.5vmin;
    padding: 0.3vmin 1vmin;
    border-radius: 0.7vmin;
    transition: transform 0.1s;
}

#rules-btn:hover, #settings-btn:hover, .records-btn:hover{
    transform: scale(1.05);
    box-shadow: rgb(0, 0, 0) 0 0.3vmin 1vmin -0.5vmin;
}

#rules-btn:active, #settings-btn:active, .records-btn:active{
    background: rgb(54, 54, 54);
    transform: scale(1);
}


.records-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    bottom: 0;
    right: 0;
    background: rgb(41, 41, 41);
    width: 50%;
    height: 50vmin;
    padding: 5vmin;
    border-radius: 2vmin 0 0 0 ;
    z-index: 150;
    color: #fff;

    transform-origin: bottom right;

    transition: transform ease-in 0.1s;
}

.rec-container_hidden{
    transform: scale(0);
}

.records-container h2{
    text-align: center;
    font-size: 4vmin;
}

.records-container ul{
    list-style: none;
    margin-top: 3vmin;
}

.records-container ul li{
    display: flex;
    justify-content: space-between;
    font-size: 3vmin;
    line-height: 2;
}

.restart_btn{
    font-size: 5vmin;
    padding: 5px 20px;
    border-radius: 12px;
    transform: scale(0.3);
    cursor: pointer;
    text-transform: uppercase;
    background: rgb(54, 54, 54);
    color: #fff;
    box-shadow: 0 5px 17px -5px rgb(255, 255, 255);
    transition: transform 0.5s, background 0.3s;
}

.restart_btn:hover{
    transform: scale(1.03);
}

.restart_btn:active{
    transition: 0.15s;
    background: rgb(36, 36, 36);
    transform: scale(1);
}

.go-block_visible{
    z-index: 100;
    background:rgba(0, 0, 0, 0.75);
}

.go-text_visible{
    display: block;
    transform: scale(1);
}

.rules-container{
    position: absolute;
    top: 0;
    width: 100%;
    max-height: 450px;
    height: 100%;
    padding: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(75, 75, 75);
    box-shadow: inset 0 0 10px rgb(0, 0, 0),  0 5px 15px rgb(0, 0, 0);
    border-radius: 1vmin;
    z-index: 150;
    transition: transform ease-in 0.3s;
}

.rc-center{
    top: 50%;
    transform: translateY(-50%);
}

.rc-hidden{
    transform: translateY(-125%);
}

.rules-container *{
    color: rgb(216, 216, 216);
    font-family: 'Alegreya';
    line-height: 1.7;
}

.rules-container h2{
    font-size: 5vmin;
    text-align: center;
    margin-bottom: 2vmin;
}

.rules-container p{
    font-size: 3vmin;
}

.rules-container span{
    background: rgb(59, 59, 59);
    padding: 0.1vmin 1vmin;   
    line-height: 1; 
    box-shadow: 0 0 0.5px rgb(156, 156, 156);
    border-radius: 0.5vmin;
}

.ok-btn{
    text-transform: uppercase;
    cursor: pointer;
    background: rgb(49, 49, 49);
    font-size: 4vmin;
    line-height: 1;
    padding: 0.5vmin 3vmin;
    border-radius: 1vmin;
    margin-top: 1vmin;
    transform: scale(1) translateY(7vmin);
    box-shadow: 0 0.5vmin 1vmin -0.5vmin #000;
    transition: 0.1s;
}

.ok-btn:hover{
    transform: scale(1.03) translateY(7vmin);
}


/* Animations */

@keyframes q-go-animation {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}