*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background: rgb(29, 29, 29);
}

body{
    margin: 0;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#back {
    background: rgb(236, 236, 236);
    position: relative;
    width: 80vmin; /* Changing in js */
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.75) inset;
}

#q, .q-tail {
    position: absolute;
    width: 5%; /* Changing in js */
    height: 5%; /* Changing in js */
    background: rgb(0, 0, 0);
    /* border: solid 1px rgba(200, 200, 200, 0.75); */
    box-shadow: 0 0 1px rgb(7, 7, 7) ;
    /* transition: opacity 0.1s, top 50ms, left 50ms; */
    z-index: 5;
}

#food{
    position: absolute;
    width: 5%; /* Changing in js */
    height: 5%; /* Changing in js */
    background: rgb(47, 0, 255);
    box-shadow: 0 0 1px rgb(7, 7, 7) ;
}


.game_over_block{
    position: relative;
    height: 100%;
    width: 100%;
    /* z-index: 10; */
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -5;
    /* background: rgba(0, 0, 0, 0.75); */
    /* background: rgba(0, 0, 0, 0); */
}



.game_over_text{
    padding: 0 5px;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.76);
    box-shadow: 0 0 10px black;
    border-radius: 15px;
    font-family: serif;
    font-size: 95px;
    text-align: center;
    text-shadow: white 1px 1px 0, white -1px -1px 0, 
                white -1px 1px 0, white 1px -1px 0;
    transform: scale(0.3);
    margin: 0;
    transition: transform 0.5s;
    display: none;
}

.game_over_block button{
    display: block;
    font-size: 90px;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    transform: scale(0.3);
    display: none;
}

.game_over_block button:hover{
    background: rgb(68, 68, 68);
    color: white;
}

.go-block_visible{
    z-index: 100;
    background:rgba(0, 0, 0, 0.75);
}

.go-text_visible{
    display: block;
    transform: scale(1);
}

.go-btn_visible{
    display: block;
    transform: scale(1);
}



/*                   INTERFACE                    */

.title{
    margin: 21px 0 0 0;
    text-align: center;
    font-size: 5vmin;
    color: rgb(255, 255, 255);
    font-family: Calibri;
}

.scores{
    margin: 0 0 21px 0;
    text-align: center;
    font-size: 5vmin;
    color: rgb(255, 255, 255);
    font-family: Calibri;
}

button:active{
    background: black;
}