@font-face {
    font-family: 'Carter One';
    src: url('fonts/Carter_One/CarterOne-Regular.ttf')  format('truetype');
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Carter One';
}

html{
    background: rgb(29, 29, 29);
}

body{
    margin: 0;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#back {
    background: rgb(236, 236, 236);
    position: relative;
    width: 82vmin;      /* Changing in js */
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.75) inset;
}

#q, .q-tail {
    position: absolute;
    width: 5%;          /* Changing in js */
    height: 5%;         /* Changing in js */
    background: rgb(0, 0, 0);
    box-shadow: 0 0 5px -3px  rgb(7, 7, 7) ;
    /* transition: opacity 0.1s, top 50ms, left 50ms; */
    z-index: 5;
}

#food{
    position: absolute;
    width: 5%;          /* Changing in js */
    height: 5%;         /* Changing in js */
    background: rgb(77, 77, 77);
    box-shadow: 0 0 5px -3px  rgb(7, 7, 7);

    /* animation: food-animation 10s ease-in infinite; */
}

@keyframes food-animation {
    0%{
        transform: scale(1);
    }

    45%{
        transform: scale(1);
        border-radius: 0%;
        /* box-shadow: 0 0 5px -3px  rgb(0, 0, 0); */
    }

    47.5%{
        transform: scale(1.2);
        border-radius: 50%;
        /* box-shadow: 0 0 15px -3px  rgb(0, 0, 0); */
    }

    50%{
        transform: scale(1);
        border-radius: 0%;
        /* box-shadow: 0 0 5px -3px  rgb(0, 0, 0); */
    }

    95%{   
        transform: scale(1);
        border-radius: 0%;
        /* box-shadow: 0 0 5px -3px  rgb(0, 0, 0); */
    }

    97.5%{
        transform: scale(1.2);
        border-radius: 50%;
        /* box-shadow: 0 0 15px -3px  rgb(0, 0, 0); */
    }

    100%{
        transform: scale(1);
        border-radius: 0%;
        /* box-shadow: 0 0 5px -3px  rgb(0, 0, 0); */
}
}



.game_over_block{
    position: relative;
    height: 100%;
    width: 100%;
    /* z-index: 10; */
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vmin;
    z-index: -5;
    background: rgba(0, 0, 0, 0);
    transition: 0.3s;
}



.game_over_text{
    padding: 0 5px;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.76);
    box-shadow: 0 -5px 17px -5px rgb(0, 0, 0);
    border-radius: 15px;
    font-size: 95px;
    text-align: center;
   
    transform: scale(0.3);
    margin: 0;
    transition: transform 0.5s;
    /* display: none; */
}

.game_over_block .restart_btn{
    font-size: 55px;
    box-shadow: 0 0 5px black;
    padding: 5px 20px;
    border-radius: 12px;
    /* transform: scale(1); */
    cursor: pointer;
    background: rgb(54, 54, 54);
    color: #fff;
    box-shadow: 0 5px 17px -5px rgb(255, 255, 255);
    transition: transform 0.5s, background 0.3s;
    /* display: none; */
}

.game_over_block .restart_btn:hover{
    /* background: rgb(68, 68, 68); */
    transform: scale(1.03);
    /* color: rgb(255, 255, 255); */
}

.go-block_visible{
    z-index: 100;
    background:rgba(0, 0, 0, 0.75);
}

.go-text_visible{
    display: block;
    transform: scale(1);
}

.go-btn_visible{
    display: block;
    transform: scale(1);
}



/*                   INTERFACE                    */

.title{
    margin: 1vmin 0 0 0;
    text-align: center;
    font-size: 5vmin;
    color: rgb(255, 255, 255);
}

.scores{
    margin: 0 0 1vmin 0;
    text-align: center;
    font-size: 5vmin;
    color: rgb(255, 255, 255);
}

button:active{
    background: black;
}